* {
    box-sizing: border-box;
}

header {
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 1rem;
}

.brand {
    width: 20%;
}

.menubar {
    display: flex;
    align-items: center;
    justify-content: center;
gap: 10px;
position: relative;
}

.menu {
    display: flex;
    width: 50%;
}

.menu ul {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 30px;
    list-style: none;
}
.menu ul li :hover{
    cursor: pointer;
    border-bottom: 3px solid rgb(245, 161, 6);
    padding-bottom: 5px;
}

.avator img {
    width: 40px;
}

.mobile-bar {
    display: none;
}

@media (max-width:780px) {
    .mobile-bar {
        display: flex;
    }

    .menu {
        display: none;
    }

}

.sport {
    justify-content: center;
     width: 70%;
    display: flex;
    align-items: center;

    
}

.tasvir2 {
    justify-content: center;
    max-width: 60% ;
    display: flex;
align-items: center;
gap:5px
 
}

main{
   max-width: 100%;
   align-items: center;
   justify-content: center;
   display: flex;
   margin-top: 3rem;
}
.sport img{
    width: 70%;
    height: 70%;

}
.tasvir2 img{
width: 50%;
height: 50%;

}
.tasvir{
    display: flex;
    align-items:center ;
    max-width: 100%;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
}
    
h6{
    text-decoration-line: line-through;
}
.sneaker{
    width: 50%;
    display: flex;
    align-items: left;
    justify-content: center;
    flex-direction: column;

}
.addcart{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 60%;
    margin: 10px;

}
.addcart div span{
    padding: 10px;

}
.addcart div:first-child{
    background-color: grey;
}
.addcart div:last-child{
    background-color: orange;
    display: flex;
}
.addcart div{
   padding: 10px; 
   border-radius: 10px;
}
.percent{
    display: flex;
    align-items:flex-start ;
    justify-content:left;
    width: 50%;
}
.percent div:first-child{
    flex-direction: column;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    margin-right: 10px;
}
.percent div:last-child{
    padding-top: 20px;
    justify-content: space-around;
    margin-left: 10px;
    background-color:orange;
    color: orangered;
}

.btnaddcart{
    color: white;
}
main img{
    border-radius: 10px;
}
.showcart{
    background-color: rgb(164, 164, 180);
    width: 200px;
    height: 150px;
    border-radius: 10px;
    padding: 5px;
    position: absolute;
    left: -6rem;
    top: 3rem;
    display: none;
    animation: cart 1s ease-in-out;
}
.menubar:hover .showcart{
    display: flex;
    flex-direction: column;
}

@keyframes cart{
    0%{
        left: -8rem;
        top: 5rem; 
        opacity: 0.3;
    }
    50%{
        left: -7rem;
        top: 4rem; 
        opacity: 0.6;
    }
    100%{
        left: -6rem;
        top: 3rem; 
        opacity: 0.8;
    }
    
}


